.line {
  width: 1224px;
  height: 62px; /* Neutral/Gray F9F9F9 */
  background: rgb(249, 249, 249);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desc {
  /* Web/H6 */
  color: rgb(45, 45, 45);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 70px;
}

.line_center ul {
  display: flex;
  gap: 44px;
}
.line_center li {
  /* Web/H6 */
  color: rgb(45, 45, 45);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}
.line_right {
  display: flex;
  gap: 100px;
}
.tit {
  /* Web/H6 */
  color: rgb(45, 45, 45);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}

.line2 {
  width: 1224px;
  height: 62px;
  /* border: 1px solid rgba(128, 128, 128, 0.338);   */
  margin-top: 5px;
  /* Neutral/Gray EDEDED */
  border-bottom: 1px solid rgba(237, 237, 237, 0.227);
  /* White */
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chek {
  margin-top: 20px;
  margin-left: 20px;
}
.cheks {
  width: 21.5px;
  height: 21.5px;
}
.mac_logo {
  width: 60px;
  height: 54px;
  background: gray;
}
.color {
  /* Web/Body-lg */
  color: rgb(12, 12, 12);
  font-family: Inter;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.line2_left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.line2_center {
  display: flex;
  gap: 30px;
}

.center_titles {
  /* Web/Body-lg */
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.center_title {
  /* Web/Body-lg */
  color: rgb(244, 94, 12);
  font-family: Inter;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.line2_right {
  display: flex;
  align-items: center;
  gap: 50px;
}
.paid {
  /* Web/Body-lg */
  color: rgb(20, 108, 67);
  font-family: Inter;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  /* State/Success */
  border: 1px solid rgb(20, 108, 67);
  border-radius: 8px;

  /* State/Success light */
  background: rgb(209, 247, 229);
  width: 53px;
  height: 30px;
}
.right_titl {
  /* Web/H6 */
  color: rgb(45, 45, 45);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
}

.tot1 {
  /* Web/H5 */
  color: rgb(45, 45, 45);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 15px;
}
.totals {
  width: 310px;
  height: 48px;
  box-sizing: border-box;
  /* Neutral/Gray F6F6F6 */
  border: 1px solid rgb(246, 246, 246);
  border-radius: 8px;

  /* Neutral/Gray F9F9F9 */
  background: rgb(249, 249, 249);
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}
.totsl1 {
  display: flex;
  align-items: center;
  gap: 130px;
}
.tot2 {
  /* Web/H6 */
  color: rgb(68, 68, 68);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: right;
}
.tot {
  /* Web/Button-lg */
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  width: 168px;
  height: 48px;
  border-radius: 8px;

  /* Primary */
  background: rgb(12, 104, 244);
  border: none;
}
