.sing_up {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.sing_down {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.IoMailOutline {
    position: relative;
    left: 30px;
    width: 21.5px;
    height: 18.5px;
    color: rgb(180, 180, 180);
}

.sing-input {
    margin-top: 8px;
}

.sing-in {
    width: 440px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 8px;
    color: rgb(113, 113, 113);
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 0px 0px 0px 35px;

}


.password {
    width: 440px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 8px;
    color: rgb(113, 113, 113);
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 0px 0px 0px 35px;
}

.toggleVisibility {
    background: none;
    border: none;
}

.fiEye {
    width: 24px;
    height: 24px;
    position: relative;
    right: 30px;
    color: rgb(113, 113, 113);

}

.forgot-password {
    /* Web/Body-sm */
    color: rgb(12, 104, 244);
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: end;
    padding-top: 12px;
    text-decoration: underline;
}
.forgot-all {
    /* Web/Body-sm */
    color: rgb(12, 104, 244);
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: end;
    text-decoration: underline;
}
.modal-chek {
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 5px;
}

.modal-chek h1 {
    /* Web/Body-sm */
    color: rgb(113, 113, 113);
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
}

.login {
    width: 440px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    border: none;
    background: rgb(12, 104, 244);
    margin-top: 8px;
}

.or-log {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    gap: 8px;
}

.or-loghr {
    width: 155px;
    height: 0;
    border: 1px solid rgb(180, 180, 180);
    background: rgb(45, 45, 45);
}

.or-logtxt {
    /* Web/Button-lg */
    color: rgb(45, 45, 45);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    background: none;
    border: none;
}

.sing-googlebtn {
    color: rgb(12, 104, 244);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    width: 208px;
    height: 48px;
    box-sizing: border-box;
    /* Primary */
    border: 2px solid rgb(12, 104, 244);
    border-radius: 8px;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

}

.sing-googlebtn span {
    transition: color 0.3s;
}

.sing-googlebtn:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

.sing-googlebtn:hover span {
    color: #fff;
}

.TbBrandGoogleFilled {
    display: flex;
    align-items: center;
    gap: 2px;
}

.sing-google {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}


.parent-modal-title {
    /* Web/H3 */
    color: rgb(12, 12, 12);
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 40px;
}

.handleOpen {
    color: rgb(113, 113, 113);
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: end;
}

.donts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;

}

.donts h1 {
    color: rgb(113, 113, 113);
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: end;
}

.donts h2 {
    /* Web/Button-lg */
    color: rgb(12, 104, 244);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}