.about_main {
  display: flex;
  justify-content: center;
  margin-top: 95px;
}

.p-subtitle {
  width: 1016px;
  font-family: "Inter", 'sans-serif';
  color: rgb(12, 12, 12);
  align-items: center;
  padding: 0px;
  line-height: 21.5px;
  margin: 50px 100px;
}

p span{
    font-weight: 700;
}
